
hw1/dataset/

hw1/__pycache__/

hw1/mfcc/

hw1/rms/

audio/

practice/.ipynb_checkpoints/

*.zip

hw2/waveform/

*.gz

hw2/annotations_final.csv

hw2/__pycache__/

hw2/data/

hw2/runs/

hw2/images/

hw3/data/

hw3/runs/

hw3/__pycache__/
